#quem-somos {
  .container {
    display: grid;
    row-gap: 4rem;

    grid-template-areas:
    "a"
    "b"
    "c";
    
    .title-container {
      grid-area: a;
      margin-bottom: 0;
    }
  
    img {
      grid-area: b;
      width: 100%;
      object-fit: contain;
    }
  
    .text-button {
      grid-area: c;
      
      p {
        margin-bottom: 2rem;
      }
    }
  }
}


@media screen and (min-width: 475px) and (max-width: 960px) {
  #quem-somos {
    .container {
      img {
        justify-self: center;
        width: 50%;
      }    
    }
  }
}

@media screen and (min-width: 961px) { 
  #quem-somos {
    .container {
      display: grid;
      column-gap: 5rem;
      align-items: center;
  
      grid-template-areas:
      "a a"
      "b c";
      
      .title-container {
        grid-area: a;
      }
    
      img {
        grid-area: b;
        width: 100%;
        margin-bottom: 0;
        object-fit: contain;
      }
    
      .text-button {
        grid-area: c;
        
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}