.title-container {
  font-weight: 700;

  span {
    color: var(--primary);
  }

  h2 {
    color: var(--text-color);
  }

  &.align--left {
    text-align: left;
  }
  
  &.align--center {
    text-align: center;
  }
  
  &.align--right {
    text-align: right;
  }

}