.btn-mobile {
  width: 100%;  
}

.btn {
  padding: .5rem 1rem;
  border-radius: .2rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-out;
  width: 100%;
  position: relative;
  z-index: 15;
}

.btn--primary {
  background-color: var(--primary);
  color: #fff; 

  &:hover {
    background-color: var(--dark-primary);
  }
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);  
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--light-grey);
  }
}

.btn--green {
  background-color: var(--green);
  color: #fff;  
}

.btn--medium {
  font-size: 1rem;  
  padding: .75rem 1rem;
  border-radius: .2rem;
}

.btn--large {
  font-size: 1.25rem;  
  padding: .75rem 1.5rem;
  border-radius: .3rem;
}

@media screen and (min-width: 768px) {
  .btn, .btn-mobile {
    width: fit-content;
    height: fit-content;
  }
}