.hero-container {
  height: 100%;
  width: 100%;
  position: relative;

  .slider-hero {
    height: 100%;
  
    .slick-slider {
      height: 100%;
  
      .slick-list {      
        height: 100%;
      }
  
    }
  
    .slick-track {
      height: 100%;
  
      .slick-slide {
        height: 100%;
  
        > div {
          position: relative;
          height: 100%;
  
          > div {
            height: 100%;
          }
        }
  
        .content {
          height: 100%;
          padding: 2rem 2rem 5rem 2rem;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          z-index: 100;

          display: grid;
          grid-template-rows: auto min-content;
          
          h1 {
            color: #fff;
            align-self: center;
          }
        }
  
        .cover {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 50;
      
          background: linear-gradient(110deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0,.05));
        }
  
        .image-2 {
          object-position: right;
        }
  
        .image-3 {
          object-position: 40%;
        }
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}



@media screen and (min-width: 768px) {  
  .hero-container {  
    .slider-hero {    
      .slick-track {
        .slick-slide {
          .content {
            height: 100%;
            padding: 2rem;
            position: absolute;
            z-index: 100;
  
            display: grid;
            row-gap: 2rem;
            grid-template-rows: auto auto;
            
            h1 {
              width: 70%;
              font-size: 3rem;
              color: #fff;
              align-self: flex-end;
            }
          }    
        }    
      }
    }
  }
}