#fgts-vantagens {
  .container {
    display: grid;
    row-gap: 4rem;
    grid-template-areas: 
    "a"
    "b"
    "c";

    .title-container {
      grid-area: a;
    }

    .container--vantagens {
      grid-area: b;
      display: grid;
      row-gap: 4rem;
    }
    
    .btn-mobile {
      grid-area: c;
    }
  }
}

@media screen and (min-width: 676px) {
  #fgts-vantagens {
    .container {  
      .container--vantagens {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1101px) {
  #fgts-vantagens {
    .container {  
      .container--vantagens {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}