.page__home {
  .container {
    position: relative;
    z-index: 50;
  }

  .padrao {
    position: absolute;
    z-index: 40;

    &.padrao-01 {
      right: 0;
      width: 40%;
      max-width: 15rem;
      transform: translateY(-85%);
    }
  }
}