#page__fgts {
  .container {
    position: relative;
    z-index: 50;
  }

  .padrao {
    position: absolute;
    z-index: 40;

    &.padrao-01 {
      right: 0;
      width: 60%;
      max-width: 17rem;
      transform: translateY(-75%);
    }

    &.padrao-02 {
      left: 0;
      width: 40%;
      max-width: 15rem;
      transform: translateY(-25%);
    }
  }
}
/*
@media screen and (min-width: 400px) {
  .page__emprestimo {  
    .padrao {
      &.padrao-02 {
        transform: translateY(-15%);
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .page__emprestimo {  
    .padrao {  
      &.padrao-01 {
        transform: translateY(100%);
      }
    }
  }
}*/