:root {
  --primary: #FF6600;  
  --dark-primary: #d15400;  
  --text-color: #444;
  --green: #08C122;
  --light-grey: #F4F4F4;
  --grey: #b6b6b6;

  --menu-height: 75px;

  font-size: 16px;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

main {
  padding-top: var(--menu-height);
  
  section:last-child {
    padding-bottom: calc(100px + var(--menu-height));
  }
}

input,
textarea,
button,
select,
a, 
.menu-icon {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


input {  
  padding: .25rem .5rem;
  font-family: 'Open Sans', sans-serif;
}

section {
  z-index: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.cards-container {
  display: none;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;  
}

.padding--default {
  padding: 100px 0;
}

.bg--light-grey {
  background-color: var(--light-grey);


}



.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media screen and (min-width: 767px) { 
  .cards-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  
    div:last-child {
      margin-left: 2rem;
    }
  } 

}