:root {
  --primary: #FF6600;  
  --dark-primary: #d15400;  
  --text-color: #444;
  --green: #08C122;
  --light-grey: #F4F4F4;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

.padrao {
  position: absolute;
  z-index: 1;

  &.padrao1 {
    right: 0;
    width: 60%;
    transform: translateY(-40%);
  }

  &.padrao2 {
    display: none;
  }
  
  &.padrao3 {
    left: 0;
    width: 60%;
    z-index: 0;
    transform: translateY(-40%);
  } 
  
  &.padrao4 {
    right: 0;
    width: 60%;
    z-index: 0;
    transform: translateY(-40%);
  } 
}

section {
  z-index: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.cards-container {
  display: none;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;  
}

.padding--default {
  padding: 100px 0;
}

.bg--light-grey {
  background-color: var(--light-grey);


}



.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media screen and (min-width: 767px) { 
  .cards-container {
    display: flex;
    transform: translateY(-50%);
    margin-bottom: -100px !important;
  
    div:last-child {
      margin-left: 2rem;
    }
  } 

  .padrao {  
    &.padrao1 {
      z-index: 10;
      right: 0;
      width: 20%;
      transform: translateY(-40%);
    }
  
    &.padrao2 {
      display: none;
    }
    
    &.padrao3 {
      width: 20%;
      transform: translateY(-80%);
    } 
    
    &.padrao4 {
      width: 20%;
      transform: translateY(-50%);
    } 
  }
}