#emprestimo-header {
  overflow: hidden;

  .container {
    padding-top: 2rem;
    padding-bottom: 5rem;
    height: calc(100vh - var(--menu-height));

    display: grid;
    row-gap: 1rem;
    grid-template-areas:
    "a"
    "b"
    "c";

    h1 {
      height: fit-content;
      font-size: 1.3rem;
      align-self: center;
      z-index: 5;
      grid-area: a;

      strong {
        color: var(--primary);
      }
    }

    .header-img {
      width: 80%;
      object-fit: contain;
      align-self: center;
      justify-self: flex-end;
      z-index: 5;
      grid-area: b;
    }

    .btn-mobile {
      height: fit-content;
      align-self: flex-end;
      grid-area: c;
    }
  }
}

@media screen and (min-height: 716px), (min-width: 768px) {
  #emprestimo-header {
    .container {  
      h1 {
        font-size: 2rem !important;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #emprestimo-header {
    .container {
      padding-top: 4rem; 

      height: fit-content;
      min-height: calc(100vh - var(--menu-height));

      row-gap: 4rem;
      column-gap: 4rem;
      grid-template-areas:
      "a b"
      "c b";

      h1 {
        width: 100%;
        align-self: flex-end;
      }
  
      .header-img {
        width: 100%;
      }
  
      .btn-mobile {
        align-self: flex-start;
      }
    }
  }
}